services:
  mongo-insecure:
    image: mongo:7
    container_name: mongo-insecure
    profiles: ["insecure"]
    ports:
      - "27017:27017"
    command: ["mongod", "--bind_ip_all"]
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "mongodb://localhost:27017/admin", "--eval", "db.runCommand({ ping: 1 })"]
      interval: 5s
      timeout: 3s
      retries: 20

  mongo-secure:
    image: mongo:7
    container_name: mongo-secure
    profiles: ["secure"]
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: ChangeMe_LongRandom
    command: ["mongod", "--auth", "--bind_ip_all"]
    volumes:
      - ./mongo/init:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "mongodb://admin:ChangeMe_LongRandom@localhost:27017/admin", "--eval", "db.runCommand({ ping: 1 })"]
      interval: 5s
      timeout: 3s
      retries: 20

  app-insecure:
    build:
      context: ./app
    container_name: mongo-demo-app
    profiles: ["insecure"]
    depends_on:
      mongo-insecure:
        condition: service_healthy
    ports:
      - "3001:3000"
    environment:
      PORT: "3000"
      MONGO_URL: "mongodb://mongo-insecure:27017/appdb"
      VALIDATION_MODE: "off"
    command: ["node", "src/server.js"]

  app-secure:
    build:
      context: ./app
    container_name: mongo-demo-app-secure
    profiles: ["secure"]
    depends_on:
      mongo-secure:
        condition: service_healthy
    ports:
      - "3001:3000"
    environment:
      PORT: "3000"
      # Least-privileged user created by init script
      MONGO_URL: "mongodb://app_user:ChangeMe_AppUser_LongRandom@mongo-secure:27017/appdb?authSource=appdb"
      VALIDATION_MODE: "on"
    command: ["node", "src/server.js"]
